.search-icon-1 {
	&__search-form-container {
		z-index: 555;
		right: 0;
		display: none;

		@include m-w-max-size(400px) {
			right: -60px;
		}

		form {
			display: flex;
		}

		label {
			display: none;
		}
	}

	.search-box-close {
		position: absolute;
		right: 0;
		top: 0;
		background: #495057;
		border-radius: 50px;
		font-size: 10px;
		width: 15px;
		height: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 700;
		transform: scale(0);
		transition: all 0.2s;
	}
}
