.cart-icon-2 {
	&__link {
		background: #161412;
	}

	button {
		border: 0;
		background: transparent;
		padding: 0;

		&:active,
		&:focus {
			border: 0 !important;
			box-shadow: none !important;
			outline: none !important;
		}
	}
}
